### Ignore everything ####
**/*

#### Explicitly add things back ####

!LICENSE
!package.json
!README.md

!assets/**/*
!docs/**/*
!images/**/*
!out/**/*.js
!snippets.code-snippets

!node_modules/**/LICENSE
!node_modules/**/package.json
!node_modules/**/README.md

!node_modules/@deephaven/require-jsapi/**/*.js
!node_modules/ws/**/*.{js,mjs}