### Ignore everything ####
**/*

#### Explicitly add things back ####

!LICENSE
!package.json
!README.md

!assets/**/*
!docs/**/*
!images/**/*
!out/**/*.js
!out/**/*.css
!skills/**/*
!snippets.code-snippets
